<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>your debate</title>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{{ url_for('debate_blueprint.static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
<link href="{{ url_for('debate_blueprint.static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('debate_blueprint.static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('debate_blueprint.static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('debate_blueprint.static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('debate_blueprint.static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{{ url_for('debate_blueprint.static', filename='assets/css/style.css') }}" rel="stylesheet">


</head>
<body>
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          {%for i in data%}
          <div class="text-center">
            <h3>Vote for Debate</h3>
            <p> Vote in the discussion threads you're participating in to find the most opinions.</p>
            <p> You're in Room {{i.Title}} </p>
            <p> Room Password is : {{i.zoomPass}}</p>
            <a style="position: absolute; top: 147px; left: 38% " class="cta-btn" href="{{i.link}}" target="_blank" rel="noopener noreferrer"> Join meeting</a>
            <form action="/votewaiting/{{i.roomID}}" method="post">
              <button class="btn" style="position: absolute; top: 140px; right: 38%; background-color: Transparent;" type="submit" name="selection"><a class="cta-btn" >vote</a></button>
            </form>
          </div>
          {%endfor%}
        </div>
      </section><!-- End Cta Section -->

      

          
  <!-- Vendor JS Files -->
  <script src="{{ url_for('debate_blueprint.static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('debate_blueprint.static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('debate_blueprint.static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('debate_blueprint.static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('debate_blueprint.static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('debate_blueprint.static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('debate_blueprint.static', filename='assets/js/main.js') }}"></script>
    
</body>
</html>