<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8"dir="ltr">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<title>Moderater</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!-- Vendor CSS Files -->
<link  rel="stylesheet"  href=" {{ url_for('mod_blueprint.static', filename='assets/vendor/aos/aos.css') }}"/>
 <link  rel="stylesheet"  href=" {{ url_for('mod_blueprint.static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}"/>
 <link  rel="stylesheet"  href=" {{ url_for('mod_blueprint.static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"/>
 <link  rel="stylesheet"  href=" {{ url_for('mod_blueprint.static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}"/>
 <link  rel="stylesheet"  href=" {{ url_for('mod_blueprint.static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}"/>
 <link  rel="stylesheet"  href=" {{ url_for('mod_blueprint.static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}"/>

<!-------Twiterbox-->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<!-- Template Main CSS File -->
<link  rel="stylesheet"  href=" {{ url_for('mod_blueprint.static', filename='assets/css/stylecontroller.css') }}"/>


<!-- =======================================================
  * Template Name: Day - v4.7.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
======================================================== -->
</head>

<body>
  <script type="text/javascript">
    $(document).ready(function() {
    
      let room = '{{roomID}}'
      var socket = io.connect('http://127.0.0.1:8080/');
      //var socket = io();
      //var socket = io.connect('https://debatesystem.herokuapp.com/');
      //var socket = io.connect('https://'+document.domain+':'+location.port);

      socket.on('connect', function() {
        socket.send(room);
        joinRoom(room);
        console.log("Mod in Room")
      });
    
      socket.on('disconnect', function(){
        socket.send('User is leaving...');
        leftRoom(room);
      });
    
      socket.on('redirect', function (data) {
          window.location = data.url;
      });
    
      socket.on('message', function(msg) {
        $("#messages").append('<li>'+msg+'</li>');
        console.log('Received message');
      });
    
      $('#startvote').on('click', function() {
        //socket.send($('#myMessage').val());
        socket.send({'msg':'startvote', 'room':room});
        $('#myMessage').val('');
      });
    
      $('#enddebate').on('click', function() {
        //socket.send($('#myMessage').val());
        socket.send({'msg':'enddebate', 'room':room});
        $('#myMessage').val('');
      });
  
      function joinRoom(room) {
        socket.emit('join', room=room);
      }
      function leftRoom(room) {
        socket.emit('left', room=room);
      }
    
    });
    </script>

    <div class="box"></div>
    

    <form method="POST">
      <!--<ul id="messages"></ul>
      <button id="startvote">start vote</button>
      <button id="enddebate">end debate</button>-->
      <input id="startvote" type="submit" name="controller" value="startvote" onclick="myFun(this)">
      <input id="enddebate" type="submit" name="controller" value="enddebate" onclick="myFun(this)">
      <br>
    </form>

  <!-- Logout popup -->
  <div class="containerOutput">
    <input type="checkbox" id="check">
    <div class="background"></div>
    <div class="alert_box">
      <div class="icon">
        <i class="fas fa-exclamation"></i>
      </div>
      <header>Confirm</header>
      <p>Are you sure want to Log out?</p>
      <form class="btns" action="/logout">
        <button  type="submit" class="btn"><label style="background-color:#0d6efd;" for="check">Yes</label></button>
        <label for="check">Cancle</label>
      </form>
    </div>
  </div>
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="#!">DEBATE</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
     
    <nav id="navbar" class="navbar">
        <ul>
        <li><a class="nav-link scrollto " href="/home">Home</a></li>
        <li><a class="nav-link scrollto" href="/about">About</a></li>
        <li><a class="nav-link scrollto active " href="#!">Moderater</a></li>
        <label class="nav-link" for="check">Log Out</label>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="600">
    
    
    </div>
</section><!-- End Hero -->

<main id="main">

    



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
 
<script src="{{ url_for('mod_blueprint.static', filename='assets/vendor/aos/aos.js') }}"></script>
<script src="{{ url_for('mod_blueprint.static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('mod_blueprint.static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('mod_blueprint.static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('mod_blueprint.static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('mod_blueprint.static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
<script src="{{ url_for('mod_blueprint.static', filename='assets/vendor/php-email-form/validate.js') }}"></script>



<!-- Template Main JS File -->

<script src="{{ url_for('mod_blueprint.static', filename='assets/js/main.js') }}"></script>

<!-- ======= Footer ======= -->
<footer id="footer"> 
    <div class="container">
      <div class="copyright">
      </div>

</body>

</html>